html{
    background-color: hsl(212, 45%, 89%);
}

html,body{
    display: grid;
    place-items: center;
    height: 100vh;
}

body{
    width: 100vw;
}

.pic1{
    width: 100%;
    margin-bottom: 26px;
    border-radius: 8px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 16px;
}

.text1, .text2 {
    padding-left: 16px;
    font-family: "Outfit", sans-serif;
    color: hsl(218, 44%, 22%);
    margin: 0;
    padding-right: 16px;
}

.text1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

.text2 {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 26px;
}
